@font-face {
  font-family: joystix;
  src: url(/assets/joystix.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: joystix, 'Courier New', Courier, monospace;
  color: #13070C;
  background-color: #FEFDFF;
}

nav {
  margin: 20px 15px 0;
}

.navLink {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px black;
  margin: 0 5px 10px;
}

h1.title {
  font-size: 22px;
  text-shadow: 2px 2px black;
  margin: 20px 20px 0;
}

h2.title {
  text-shadow: 2px 2px black;
}

.navLink:hover {
  text-shadow: 3px 4px black;
}

.hide {
  opacity: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
}

#home-content {
  width: 100%;
  max-width: 600px;
  padding: 20px 30px;
  color: white;
  /* text-align: center; */
  font-family: 'Courier New', Courier, monospace;
}

#home-content h1,
h2 {
  font-family: joystix, 'Courier New', Courier, monospace;
  margin-top: 20px;
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 5px;
}

#home-content p {
  font-family: 'Courier New', Courier, monospace;
  margin: 20px 30px 20px 30px;
}